MLFLOW_DB_USER= 
MLFLOW_DB_PASSWORD=9975144
MLFLOW_DB_NAME= 

MLFLOW_TRACKING_URI=

SIGESGUARDA_DATABASE.HOST=
SIGESGUARDA_DATABASE.PORT=
SIGESGUARDA_DATABASE.USER=
SIGESGUARDA_DATABASE.PASSWORD=
SIGESGUARDA_DATABASE.NAME=
SIGESGUARDA_DATABASE.SSL_MODE=