MLFLOW_DB_USER= user_example
MLFLOW_DB_PASSWORD=password_example
MLFLOW_DB_NAME= db_name_example

MLFLOW_TRACKING_URI=localhost:5000

SIGESGUARDA_DATABASE.HOST=host_example
SIGESGUARDA_DATABASE.PORT=port_example
SIGESGUARDA_DATABASE.USER=user_example
SIGESGUARDA_DATABASE.PASSWORD=password_example
SIGESGUARDA_DATABASE.NAME=name_example
SIGESGUARDA_DATABASE.SSL_MODE=ssl_model_example